POSTGRES_USER=sleepydrive
POSTGRES_PASSWORD=sleepydrive
POSTGRES_DB=sleepydrive

MQTT_TOPICS=sleepydrive/alerts/+
MQTT_STATUS_TOPICS=sleepydrive/status/+
MQTT_QOS=1
MQTT_TLS=false
MQTT_TLS_INSECURE=false
# MQTT_CA_CERT=
# MQTT_CLIENT_CERT=
# MQTT_CLIENT_KEY=
WS_DEFAULT_REPLAY=25
CORS_ALLOW_ORIGINS=*

# Optional compatibility aliases for Jetson env naming:
# MP_QTT_HOST=broker.example.com
# MP_QTT_PORT=1883
# MP_QTT_TOPIC=sleepydrive/alerts/+
# MP_QTT_STATUS_TOPIC=sleepydrive/status/+
# MP_SOURCE_ID=jetson-01
# MP_QTT_USERNAME=
# MP_QTT_PASSWORD=
# MP_QTT_TLS=true
# MP_QTT_TLS_INSECURE=false
# MP_QTT_CA_CERT=
# MP_QTT_CLIENT_CERT=
# MP_QTT_CLIENT_KEY=
